html, body {
    padding: 0;
    margin: auto;
    height: 100%;
    background: #d0f4f7;
    color: #94aeb0;
}

.wrap {
    background-color: #d0f4f7;
    height: 100%;
    display: table;
    width: 100%;
    overflow: hidden;
    background-position: left 80%;
    background-repeat: repeat-x;
    background-image: url("../img/decors/bg_grasslands.png");
    animation: wrap-scroll 30s linear infinite;
}

/* Déplacement + opacité, héro battu */
@keyframes wrap-scroll {
    0% {background-position: 0 80%}
    100% {background-position: 1024px 80%}
}

.etats {
    z-index: 20;
    display: table-row;
    height: 80%;
    position: relative;
}

.etats > div, .sol-1 > div, .sol-2 > div, .sol-3 > div {
    display: table-cell;
    vertical-align: bottom;
    position: relative;
}

.sol-1 {
    background: url("../img/decors/grassCenter.png");
    height: 20%;
    display: table-row;
}

.sol-1 > div {
    background: url("../img/decors/grassMid.png");
    background-repeat: repeat-x;
    background-position: 0 0;
}




/* Liste des parties */

ul.joueurs {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.joueurs li {
    margin: 1em 0;
    
    background: white;
    padding: 1em 2em;
    border: 10px solid #94aeb0;
    
    border-radius: 40px;
    
    font-family: sans-serif;
    position: relative;
}

ul.joueurs li .nom {
    cursor: pointer;
    text-decoration: underline;
}

ul.joueurs li .ctrl {
    text-align: right;
}

ul.joueurs li .etoiles {
    position: absolute;
    right: 2em;
    top: 1em;
    padding-right: 24px;
    background: url("../img/icones-carte/icone_etoile_gagnee.png") no-repeat 100% 0;
    height: 24px;
    line-height: 24px;
}

ul.joueurs li .scene {
    display: none;
}