/* Châteaux */

.est-boss .wrap {
    background-image: url(../img/decors/bg_castle.png);
    background-repeat: repeat;
}

.est-boss .sol-1 {
    background: url("../img/decors/castleCenter.png");
}

.est-boss .sol-1 > div {
    background: url("../img/decors/castleMid.png") repeat-x;
}

/* Monde 1 / plaines */
#s1-2-3-plus .wrap,
#s1-2-3-moins .wrap,
#s1-2-3-plus-moins .wrap {
    background-image: url("../img/decors/bg_grasslands.png");
}


#s1-2-3-plus .decor,
#s1-2-3-moins .decor,
#s1-2-3-plus-moins .decor {
    background: url(../img/decors/decor_plaine.png);    
}


/* Monde 2 / foret */
#s4-5-plus .wrap,
#s4-5-moins .wrap,
#s4-5-plus-moins .wrap,
#s4-5-plus-moins-chrono .wrap {
    background-color: #7ab71e;
    background-image: url("../img/decors/bg_shroom.png");
}

#s4-5-plus .decor,
#s4-5-moins .decor,
#s4-5-plus-moins .decor,
#s4-5-plus-moins-chrono .decor {
    background: url(../img/decors/decor-foret.png);    
}

/* Monde 3 / desert */
#s5-6-plus .wrap,
#s5-6-moins .wrap,
#s5-6-plus-moins .wrap,
#s5-6-plus-moins-chrono .wrap {
    background-image: url("../img/decors/bg_desert.png");
}

#s5-6-plus .decor,
#s5-6-moins .decor,
#s5-6-plus-moins .decor,
#s5-6-plus-moins-chrono .decor {
    background: url(../img/decors/decor-desert.png);    
}


#s5-6-plus .sol-1,
#s5-6-moins .sol-1,
#s5-6-plus-moins .sol-1,
#s5-6-plus-moins-chrono .sol-1 {
    background: url("../img/decors/sandCenter.png");
}

#s5-6-plus .sol-1 > div,
#s5-6-moins .sol-1 > div,
#s5-6-plus-moins .sol-1 > div,
#s5-6-plus-moins-chrono .sol-1 > div {
    background: url("../img/decors/sandMid.png") repeat-x;
}


/* Monde 4 / lac */
#s6-7-plus .wrap,
#s6-7-moins .wrap,
#s6-7-plus-moins .wrap,
#s6-7-plus-moins-chrono .wrap {
    background-image: url("../img/decors/bg_grasslands.png");
}

#s6-7-plus .sol-1,
#s6-7-moins .sol-1,
#s6-7-plus-moins .sol-1,
#s6-7-plus-moins-chrono .sol-1 {
    height: 70px;
    background: #c0e8ec;
}

#s6-7-plus .sol-1 > div,
#s6-7-moins .sol-1 > div,
#s6-7-plus-moins .sol-1 > div,
#s6-7-plus-moins-chrono .sol-1 > div {
    background: url("../img/decors/liquidWaterTop_mid.png") repeat-x;
}


#s6-7-plus .sol-2,
#s6-7-moins .sol-2,
#s6-7-plus-moins .sol-2,
#s6-7-plus-moins-chrono .sol-2 {
    background: url("../img/decors/liquidWater.png");
    height: 40%;
}

/* Monde 5 / ville */
#s7-8-plus .wrap,
#s7-8-moins .wrap,
#s7-8-plus-moins .wrap,
#s7-8-plus-moins-chrono .wrap {
    background-image: url("../img/decors/bg_grasslands.png");
    
}

#s7-8-plus .decor,
#s7-8-moins .decor,
#s7-8-plus-moins .decor,
#s7-8-plus-moins-chrono .decor {
    background: url(../img/decors/decor_ville.png);    
}
